<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
  </head>
  <body>
    <h1>All Chats</h1>
    <%for(let chat of chats){%>
    <div>
      <div class="from">
        <p>From : <%=chat.from %></p>
      </div>
      <div class="msg">
        <p>Msg : <%=chat.msg %></p>
      </div>
      <p>Received By : <%=chat.to %></p>
      <hr>
    </div>
    <%}%>
  </body>
</html>
